<!DOCTIPE html>
<html>
  <head>
    <link href="{{asset('/css/styleGfct.css')}}" rel="stylesheet">
  </head>
  <body class="cuerpo2">
    <nav>
      <h1>Formulario Gestor FCT</h1>
      {{form(form)}}
    </nav>  
  </body>
</html>
