

.cuerpo {
   text-align: center;
   background-color: #434955;
   color: white;
}

table{

  text-align: left;
  width: 80%;
  margin-left: 10%;
  border: 1px solid white;
  border-collapse: collapse;

}

table, th, td{
  color: white;
  padding-left:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid white;
}

th{

  font-size: 20px;
  font-weight:bold;
}

.cuerpo2 {
   background-color: #434955;
   color: white;
}

nav{
  margin-left: 40%;
}

.etiqueta{
  margin-right: 1%;
  font:bold 20px arial, sans-serif;


}

.etiqueta_elemento{
  height: 25px

}
